/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
}

span {
    color: red;
    font-weight: bold;
}

header {
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    height: 698px;
    margin: auto;



}


/* primary color */
.primary-color {
    color: #4E47FF;
}

/* shared styles */
.primary-button {
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    width: 100px;
    font-size: 16px;
    color: white;
}

.primary-button:hover {
    background-color: #ecd92b;
    border-radius: 10px;
    border: none;
    width: 100px;
    font-size: 16px;
    color: white;
    transition: 2s;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
}

.navigation .logo {
    font-size: 34px;
    font-family: "Inter", sans-serif;
}

/* Banner section styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px;


}

.banner .content {
    text-align: center;
    font-size: 30px;
    display: inline-block;

}

.banner .content h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}

.content .stay-focused {
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    height: 45px;
    width: 200px;
}

.content .stay-focused:hover {
    background-color: #ecd92b;
    border-radius: 10px;
    border: none;

    font-size: 16px;
    color: white;
    transition: 2s;
    cursor: pointer;

}

/* Action Section styles */
.action {
    display: flex;
    justify-content: space-around;
    width: 1140px;
    margin: 50px auto 0 auto;
    align-items: center;

}

.action-right {
    width: 517px;
    font-family: "Raleway", sans-serif;
    ;
}

.action-right p {
    font-size: 24px;
}

.action-text {
    font-size: 42px;
}

.action-p {
    font-size: 24px;
    margin-top: 20px;
    color: #8d8e98;
}

.action-button {
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
    width: 200px;
    margin-top: 20px;
}

.action-button:hover {
    background-color: #ecd92b;
    border-radius: 10px;
    border: none;

    font-size: 16px;
    color: white;
    transition: 2s;
    cursor: pointer;
}

.action-left img {
    border-radius: 35px;
}


/* productive_user section */

.stats-section {
    max-width: 1140px;
    width: 100%;
    height: 306px;
    margin: 50px auto;
    padding: 70px 20px;
    background-color: #e8eafe;
    border-radius: 16px;
    text-align: center;
    font-family: "Raleway", sans-serif;

}

.stats-section h2 {
    font-size: 35px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
}

.stats-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.stat-item {
    min-width: 100px;
}

.stat-item h3 {
    font-size: 52px;
    color: #4f46e5;
    margin-bottom: 5px;
}

.stat-item p {
    font-size: 14px;
    color: #666;
}

/* reiview section start */

.review {
    max-width: 1140px;
    width: 100%;
    height: 306px;
    margin: 50px auto;
    padding: 70px 20px;

    border-radius: 16px;
    text-align: center;
}

.review-text {
    font-size: 42px;
    margin-bottom: 25px;
    font-family: "Raleway", sans-serif;
}

.content {
    display: flex;
    gap: 24px;
}

.card {
    width: 500px;
    min-height: 220px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 18px;
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
}

.card-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    text-align: left;
}

.card-body {
    text-align: left;
}

.card-body h2 {
    padding-bottom: 12px;
    font-size: 25px;
}

.card-body p {
    color: #1E1E1E;
    font-size: 15px;
    text-align: left;
}

.card-footer {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.footer-content {
    text-align: left;
    padding-left: 10px;
    color: #757575;
}

.card-content  h4 {
    color: #B3B3B3;
    text-align: left;
    padding-left: 20px;
}
.card-content p {
    color: #B3B3B3;
    text-align: left;
    padding-left: 20px;
}

.card-footer img {
    border-radius: 50%;
}

/* reiview section end */

/* optinal-section */
.optinal-section {
    max-width: 1140px;
    width: 100%;
    height: 696px;
    margin: 120px auto;
    padding: 70px 20px;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    border-radius: 12px;

}

.optinal-section .image {
    margin-top: 30px;


}

.optinal-section h1 {
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;



}

.optinal-section .p {
    font-family: "Raleway", sans-serif;
    margin: 15px 10px;
    color: #8987A1;


}

/* contact section start */
.contact {
    display: flex;
    background: #f5f8ff;
    padding: 50px;
    border-radius: 10px;
    max-width: 1140px;
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;
    margin: 200px auto 0 auto;
}

.left {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
}

.right {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.right input,
.right textarea {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.right textarea {
    resize: vertical;
    min-height: 100px;
}

.right button {
    margin-top: 10px;
    padding: 12px;
    background-color: #4f46e5;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.right button:hover {
    background-color: #ecd92b;
    transition: 2s;
    cursor: pointer;
}



/* footer section start */
.container {
    margin: 50px 0 0 0;
}

.footer-content {
    text-align: center;
}

.footer-navbar ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-navbar ul li {
    list-style: none;
}

.footer-navbar ul li a {
    text-decoration: none;
    color: #8987A1;
}

.footer-content h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: inter;
}

.footer-content p {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: inter;
    color: #8987A1;
    text-align: center;
}